---
import { clsx } from "clsx";

import Item from "./ReferenceLinkItem.astro";
---

<div class={clsx("grid pl-12")}>
  <Item
    href="https://docs.astro.build"
    title="Astro Docs"
    description="Learn about Astro features and API."
  />

  <Item
    href="https://astro.build/themes/"
    title="Astro Themes"
    description="Explore more themes and templates for Astro."
  />
  
  <Item
    href="https://astro.build/integrations/"
    title="Astro Integrations"
    description="Extend Astro with official integrations."
  />
</div>
