---
import Header from '../components/Header.astro';
import {Footer} from '../components/Footer';
---

<div>
  {/* Header */}
  <div class="sticky top-0 z-10 backdrop-blur border-b border-gray-200 bg-white/80 py-4 lg:py-6">
    <div class="max-w-6xl mx-auto px-4">
      <Header/>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center py-16">
      <p class="text-gray-700">Ehh... The page doesn't exists.</p>
      <h1 class="text-3xl md:text-5xl font-bold mb-4">
        Page not found
      </h1>
      <a href="/" class="text-indigo-500">Go to homepage</a>
    </div>
  </div>

  <div class="px-5 md:px-8 py-12 border-t border-gray-100">
    <div class="max-w-6xl mx-auto">
      <Footer/>
    </div>
  </div>
</div>